@charset "utf-8";

html{
  overflow: auto;
}
h1,h2,h3,h4,h5,h6{
  text-align: center;
}
[hidden] {
  display: none !important;
}
img{
  border: 0;
  max-width: 100% !important;
  vertical-align: middle;
  height: auto;
  display: block;
}
.header{
  position: absolute;
  top: 20px;
  height: 70px;
  width: 100%;
  color: #4169e1;
  border-style:none none solid;
  border-color:cyan; 
  border-width:thin;
}
.main{
  position:absolute;
  top:90px;
  bottom: 50px;
  width:100%;
}
a{
  color: #3cb371;
}
.footer{
  position: absolute;
  bottom: 0px;
  height: 50px;
  width:100%;
  padding:0px;
//  background:-moz-linear-gradient(top,#fff,rgba(135,206,250,0.5));
//  background:-webkit-gradient(linear,left top,left bottom,from(#fff),to(rgba(135,206,250,0.5)));  
  border-style:double none none;
}
.fotter p{
  text-align: center;
}
