@charset "utf-8";

html{
  overflow: auto;
}
[hidden] {
  display: none !important;
}
img{
  border: 0;
  max-width: 100% !important;
  vertical-align: middle;
  height: auto;
  display: block;
}
.page-header{
  color: #4169e1;
}
a{
  color: #3cb371;
}
.footer{
  position: absolute;
  bottom: 0px;
  height: 50px;
  width:100%;
  padding:0px;
  background:-moz-linear-gradient(top,#fff,rgba(135,206,250,0.5));
  background:-webkit-gradient(linear,left top,left bottom,
  from(#fff),to(rgba(135,206,250,0.5)));  
  
}
.fotter p{
  text-align: center;
}
p,h1,h2,h3,h4,h5,h6{
  text-align: center;
}
