@charset "utf-8";

html{
  overflow: auto;
}
h1,h2,h3,h4,h5,h6{
  text-align: center;
}
[hidden] {
  display: none !important;
}
img{
  border: 0;
  max-width: 100% !important;
  vertical-align: middle;
  height: auto;
  display: block;
}
a{
  color: #3cb371;
}
.footer{
  position: absolute;
  bottom: 0px;
  height: 50px;
  width:100%;
  padding:0px;
  border-style:double none none;
}
.footer p{
  text-align: center;
}
