.title{
	text-align:center;
}
.icon-list{
	list-style-type:none;
	font-size:1.6rem
}

@media (min-width: 400px){
	.title{
		font-size:3.5rem;
	}
}
@media (max-width:400px) {
	.title{
		font-size: 3.0rem;
}

